<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name = "Suite1" parallel="methods" thread-count="2">
<parameter name="var1" value="value1"></parameter>
    <listeners>
        <listener class-name="TestNGListener"/>
    </listeners>


    <test name = "exampleztest1">

        <groups>
            <run>

                <include name="test"></include>
            </run>
        </groups>
        <classes>
            <class name = "TestNGConcept" />
        </classes>
    </test>


</suite>